{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div>
            <p>{{ errorMessage }}</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}