<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bienvenue !{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
</head>
<header>
    <div class="jumbotron-fluid">
        <div class="text-center bg">
            <h1>WeatherApp</h1>
        </div>
    </div>
    <div class="col-md-12">
        {{ form_start(form, {'action': path('homepage_action'), 'method': 'POST'}) }}
        {{ form_row(form.city) }}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary text-center">soumettre</button>
        </div>
        {{ form_end(form) }}
    </div>
</header>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}
{% endblock %}
<footer class="container-fluid d-flex justify-content-center align-items-center"">
<span>Copyright @ 2020</span>
</footer>
</body>
</html>